<!DOCTYPE html>
<html lang="en">

<head id="ban ID: 67D9F4DC">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
 <meta id="descrip" name="description" content= "{% block description %}{% endblock %}">

  <!-- <meta id="descrip" name="description" content="AI powered .jar RAT classification"> -->
  <title>Is This A RAT? 🤔</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico">
  <meta name="keywords" content="isthisarat, anti virus rat, .jar rat minecraft, minecraft rat">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="/static/css/heading.css">
    <link rel="stylesheet" href="/static/css/body.css">
</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" href="/">IS THIS A RAT? 🤔</a>
                <button id="mobilemenu" class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-red rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <!--<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/recent">RECENT</a>
                        </li>-->
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/api">API </a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="https://ko-fi.com/isthisarat">DONATE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
       {% block content %}
       {% endblock %}
    {% block scripts %}
   {% endblock %}
  </body>
 <!-- ======= Footer ======= -->
  <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->

                    <!-- Footer Social Icons-->

                    <div class="col-lg-4 mb-5 mb-lg-0">
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="mb-4">SOCIALS</h4><a class="btn btn-outline-light btn-social mx-1" href="https://www.twitter.com/vytalow"><i class="fab fa-fw fa-twitter"></i></a> <a class="btn btn-outline-light btn-social mx-1" href="https://discord.gg/M43uHJ3bzJ"><i class="fab fa-fw fa-discord"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </footer>
  <!-- Copyright Section-->
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "50% OFF",
 "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "bestRating": "5",
        "ratingCount": "8"
      }
}
</script>




</html>
