<header class="flex gap-2 bg-secondary-bg px-6 py-4 font-heading navbar">
  <a href="/">IS THIS A RAT? 🤔</a>
  <a href="/api">API</a>
  <a href="https://ko-fi.com/isthisarat">DONATE</a>
  <!--<a href="https://www.twitter.com/vytalow">TWITTER</a>
  <a href="https://discord.gg/M43uHJ3bzJ">DISCORD</a>-->
</header>
<style>
  header > :first-child {
    margin-right: auto;
  }
  header > * {
    padding: 0.5rem;
  }
  header > a {
    transition: background-color 150ms;
  }
  header > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  @media (prefers-color-scheme: dark) {
    header > a:hover {
      background-color: rgba(255, 255, 255 0.2);
    }
  }
</style>
